{{- /* gotype: github.com/knaka/go-pinfomap.IntType */ -}}

// {{GeneratedContentNotice}}

package biblioseeq

import (
	"fmt"
	"github.com/webui-dev/go-webui/v2"
)

func StrToBrowser(s string) (browser webui.Browser, err error) {
	switch s {
	{{- range .Consts }}
		case "{{.Name}}":
			browser = webui.{{.Name}}
	{{- end}}
	default:
		err = fmt.Errorf("invalid browser: %s", s)
	}
	return
}
